In [3]:
# # Desempleo

import pandas as pd

# Cargar el archivo CSV
inflation_df = pd.read_csv('filtered_unemployment_data.csv', index_col='Date', parse_dates=True)

# Mostrar los primeros registros
inflation_df

            Unemployment_Rate_Total
Date
2022-01-01                 3.572170
2022-02-01                 3.914207
2022-03-01                 3.456406
2022-04-01                 3.056182
2022-05-01                 3.312123
2022-06-01                 3.324912
2022-07-01                 3.161718
2022-08-01                 3.262697
2022-09-01                 3.140028
2022-10-01                 3.207659
2022-11-01                 2.950362
2022-12-01                 2.937936
2022-01-01                 2.892227
2022-02-01                 2.863341
2022-03-01                 2.802244
2022-04-01                 2.854680
2022-05-01                 2.959990
2022-06-01                 2.620074
2022-07-01                 2.874054
2022-08-01                 2.722730
2022-09-01                 2.712313
2022-10-01                 2.666526
2022-11-01                 2.806800
2022-12-01                 2.781301
2022-01-01                 2.752231
2022-02-01                 2.596188
2022-03-01                 2.676820
2022-04-01                 2.650184
2022-05-01                 2.636678
2022-06-01                 2.735256

In [4]:
## Inflaci√≥n 

# Cargar el archivo CSV
inflation_df = pd.read_csv('cleaned_inflation_data (1).csv', index_col='Date', parse_dates=True)

# Mostrar los primeros registros
inflation_df

            Inflation_Rate
Date
2021-08-01            0.19
2021-09-01            0.62
2021-10-01            0.84
2021-11-01            1.14
2021-12-01            0.36
2022-01-01            0.59
2022-02-01            0.83
2022-03-01            0.99
2022-04-01            0.54
2022-05-01            0.18
2022-06-01            0.84
2022-07-01            0.74
2022-08-01            0.70
2022-09-01            0.62
2022-10-01            0.57
2022-11-01            0.58
2022-12-01            0.38
2023-01-01            0.68
2023-02-01            0.56
2023-03-01            0.27
2023-04-01           -0.02
2023-05-01           -0.22
2023-06-01            0.10
2023-07-01            0.48
2023-08-01            0.55